<mat-card>
  <mat-card-content
    [@translate]="translated ? 'closed' : 'open'"
    (click)="translate()">
    <div class="card-content-wrap">
      <ng-content></ng-content>
    </div>

    <div class="card-actions">
      <button mat-icon-button (click)="editBtnHandler($event, id)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button (click)="deleteBtnHandler($event, id)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </mat-card-content>
</mat-card>
