<app-date-range-picker
  (valueChanges)="changePeriodHandler($event)"></app-date-range-picker>

<button mat-button [matMenuTriggerFor]="walletsMenu">
  <mat-icon>arrow_drop_down</mat-icon>
  {{ wallet?.name }}
</button>

<button mat-button [matMenuTriggerFor]="typesMenu">
  <mat-icon>arrow_drop_down</mat-icon>
  {{ type | titlecase }}
</button>

<div class="stat" *ngIf="statistics$ | async as statistics">
  <div *ngFor="let i of statistics.report" class="stat_item">
    <div class="stat_item-title">
      <p>{{ i.category }}</p>
      <p>
        {{ i.sum }}{{ i.currency }} ({{
          i.sum / statistics.total | percent : '1.2-2'
        }})
      </p>
    </div>
    <mat-progress-bar
      mode="determinate"
      [value]="(i.sum / statistics.total) * 100"></mat-progress-bar>
  </div>
</div>

<mat-menu #walletsMenu="matMenu">
  <button
    mat-menu-item
    *ngFor="let wallet of wallets$ | async"
    (click)="walletsMenuItemClickHandler(wallet)">
    {{ wallet.name }}
  </button>
  <button mat-menu-item>Item 2</button>
</mat-menu>

<mat-menu #typesMenu="matMenu">
  <button mat-menu-item (click)="typesMenuItemClickHandler('expense')">
    Expense
  </button>
  <button mat-menu-item (click)="typesMenuItemClickHandler('income')">
    Income
  </button>
</mat-menu>
