<mat-expansion-panel hideToggle>
  <mat-expansion-panel-header>
    <mat-panel-title>
      <mat-icon>add</mat-icon>
      Add new
    </mat-panel-title>
  </mat-expansion-panel-header>

  <div class="add-form" [formGroup]="form">
    <div class="add-form_item">
      <p class="add-form_item-title">
        <mat-hint>select wallets</mat-hint>
      </p>
      <div class="add-form_item-body">
        <mat-form-field appearance="fill">
          <mat-label>from</mat-label>
          <mat-select formControlName="walletFrom">
            <mat-option *ngFor="let wallet of wallets" [value]="wallet.id">
              {{ wallet.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <span class="add-form_item-body-emoji">➡️</span>

        <mat-form-field appearance="fill">
          <mat-label>to</mat-label>
          <mat-select formControlName="walletTo">
            <mat-option *ngFor="let wallet of wallets" [value]="wallet.id">
              {{ wallet.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div class="add-form_item" *ngIf="currencySuffixFrom !== currencySuffixTo">
      <p class="add-form_item-title">
        <mat-hint>enter rate</mat-hint>
      </p>
      <div class="add-form_item-body">
        <mat-form-field appearance="fill">
          <input matInput type="number" min="1" formControlName="rateFrom" />
          <span matTextSuffix>{{ currencySuffixFrom }}</span>
        </mat-form-field>
        <span class="add-form_item-body-emoji">🟰</span>
        <mat-form-field appearance="fill">
          <input matInput type="number" min="1" formControlName="rateTo" />
          <span matTextSuffix>{{ currencySuffixTo }}</span>
        </mat-form-field>
      </div>
    </div>

    <div class="add-form_item">
      <p class="add-form_item-title">
        <mat-hint>enter sum</mat-hint>
      </p>
      <div class="add-form_item-body">
        <mat-form-field appearance="fill">
          <input
            matInput
            type="number"
            min="1"
            formControlName="sumFrom"
            (input)="sumFromInputHandler()" />
          <span matTextSuffix>{{ currencySuffixFrom }}</span>
        </mat-form-field>

        <span class="add-form_item-body-emoji">➡️</span>

        <mat-form-field appearance="fill">
          <input
            matInput
            type="number"
            min="1"
            formControlName="sumTo"
            (input)="sumToInputHandler()" />
          <span matTextSuffix>{{ currencySuffixTo }}</span>
        </mat-form-field>
      </div>
    </div>

    <button mat-flat-button>Transfer</button>
  </div>
</mat-expansion-panel>
