:host {
  mat-panel-title {
    display: flex;
    justify-content: center;
  }

  mat-form-field {
    margin-bottom: -1.25em
  }

  .add-form {
    display: flex;
    flex-direction: column;
    gap: 10px;

    &_item {
      display: flex;
      flex-direction: column;

      &-title {

      }

      &-body {
        display: flex;
        align-items: center;
        gap: 5px;

        &-emoji {
          font-size: 2rem;
        }
      }
    }
  }
}
