<button mat-button [matMenuTriggerFor]="mainMenu">
  <mat-icon>more_vert</mat-icon>
  {{ 'pageTitle | titlecase' }}
</button>

<button mat-button [matMenuTriggerFor]="walletsMenu">
  <mat-icon>balance</mat-icon>
  {{ mainWallet?.balance }}{{ mainWallet?.currency }}
</button>

<mat-menu #walletsMenu="matMenu">
  <div disabled mat-menu-item *ngFor="let wallet of wallets$ | async">
    {{ wallet.name }}: {{ wallet.balance }}{{ wallet.currency }}
  </div>
</mat-menu>

<mat-menu #mainMenu="matMenu">
  <button
    mat-menu-item
    *ngFor="let item of menuItems"
    (click)="menuItemClickHandler(item)">
    <mat-icon>{{ item.icon }}</mat-icon>
    <span>{{ item.name }}</span>
  </button>
</mat-menu>
