@import "src/variables";

:host {
  position: relative;
  min-height: 50px;
  padding: 10px;
  display: grid;
  grid-template-columns: 50px 1fr 50px;
  align-items: center;
  justify-items: center;

  button {
    color: $button-bg-color;
  }

  .header_main-wallet {
    font-size: 1.4rem;
    font-weight: 600;
  }

  .header_back-btn {
    position: absolute;
    left: 10px;
    height: 30px;
    font-size: 30px;
  }
}
