<mat-card>
  <mat-card-header>
    <mat-card-title>
      {{ walletId ? 'Edit wallet' : 'Add new wallet' }}
    </mat-card-title>
  </mat-card-header>
  <mat-card-content class="form" [formGroup]="walletForm">
    <mat-form-field class="form_name" appearance="fill">
      <mat-label>name</mat-label>
      <input matInput formControlName="name" />
    </mat-form-field>

    <mat-form-field class="form_currency" appearance="fill">
      <mat-label>currency</mat-label>
      <mat-select formControlName="currency">
        <mat-option
          *ngFor="let currency of currencies$ | async"
          [value]="currency">
          {{ currency }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-slide-toggle formControlName="isMain">
      {{
        walletForm.controls.isMain.value ? 'Set as Secondary' : 'Set as Main'
      }}
    </mat-slide-toggle>
  </mat-card-content>

  <mat-card-actions class="card_actions">
    <button mat-flat-button (click)="formConfirmHandler()">✅</button>
    <button mat-flat-button *ngIf="walletId" (click)="deleteWalletHandler()">
      🗑
    </button>
  </mat-card-actions>
</mat-card>
