@import "src/variables";

:host {
  mat-card {
    background-color: $bg-color;
    color: $text-color;
  }

  .form {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;

    &_name {
      width: 100%;
    }

    &_currency {
      width: 100%;
    }
  }

  .card_actions {
    width: 100%;
    display: flex;
    gap: 5px;

    button {
      color: $button-text-color;
      background-color: $button-bg-color;
      width: 100%;
      font-size: 1.5rem;
    }
  }
}
