$font: 'Open Sans', sans-serif;
$bg-color: var(--tg-theme-bg-color);
$secondary-bg-color: var(--tg-theme-secondary-bg-color);
$text-color: var(--tg-theme-text-color);
$button-text-color: var(--tg-theme-button-text-color);
$button-bg-color: var(--tg-theme-button-color);
