@import 'src/variables';

:host {
  mat-card {
    overflow: hidden;
    cursor: pointer;
    margin-bottom: 5px;
    background-color: $bg-color;
    color: $text-color;
  }

  .card-content-wrap {
    position: relative;
    width: 100%;
  }

  .card-actions {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    button {
      color: $button-bg-color;
    }
  }
}
