<h1 mat-dialog-title>{{ dialogData.title }}</h1>

<div mat-dialog-content [formGroup]="form">
  <mat-form-field appearance="fill">
    <mat-label>wallet</mat-label>
    <mat-select formControlName="wallet">
      <mat-option *ngFor="let wallet of $wallets | async" [value]="wallet.id">
        {{ wallet.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>category</mat-label>
    <mat-select formControlName="category">
      <mat-option
        *ngFor="let category of $categories | async"
        [value]="category.id">
        {{ category.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>sum</mat-label>
    <input formControlName="sum" matInput type="number" placeholder="0" />
    <span matTextSuffix>{{ currency }}</span>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>comment</mat-label>
    <input formControlName="comment" matInput />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>date</mat-label>
    <input matInput formControlName="createdAt" [matDatepicker]="picker" />
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
</div>

<div mat-dialog-actions align="end" class="actions">
  <button mat-button mat-dialog-close>Cancel ❌</button>
  <button mat-button (click)="submitHandler()">OK 👌</button>
</div>
