@import "src/variables";

:host {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;

  .nav-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $bg-color;
    color: $text-color;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;

    &:active {
      transform: scale(0.90);
    }

    &_emoji {
      font-size: 3.5rem;
    }

    &_name {
      font-size: 1.2rem;
    }
  }
}
