@import 'src/variables';

:host {
  width: 100%;

  .menu {
    display: flex;
    justify-content: space-between;

    button {
      color: $button-bg-color;
    }

    &_left {
      display: flex;
      align-items: center;
    }
  }

  .filters {
    display: flex;
    flex-wrap: wrap;
    gap: 2%;

    mat-form-field {
      margin-bottom: -1.25em;
    }

    &_select {
      width: 49%;
    }

    &_input {
      margin-top: 2%;
      width: 100%;
    }
  }

  .day {
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;

    &_date {
      font-weight: 600;
      text-align: center;
    }

    &_operation {
      padding: 5px 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-radius: 5px;

      &-bold {
        font-size: 1.1rem;
        font-weight: 600;
      }
    }
  }
}
