<app-date-range-picker
  (valueChanges)="changePeriodHandler($event)"></app-date-range-picker>

<div class="menu">
  <div class="menu_left">
    <button mat-icon-button (click)="sortClickHandler()">
      <mat-icon>unfold_more</mat-icon>
    </button>
    <button
      mat-icon-button
      (click)="isFilterMenuExpanded = !isFilterMenuExpanded">
      <mat-icon>filter_alt</mat-icon>
    </button>
  </div>
  <div class="menu_right">
    <button mat-icon-button>
      <mat-icon>bar_chart</mat-icon>
    </button>
    <button mat-icon-button (click)="addNewHandler()">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>

<div class="filters" *ngIf="isFilterMenuExpanded" [formGroup]="filtersForm">
  <mat-form-field appearance="fill" class="filters_select">
    <mat-label>wallets</mat-label>
    <mat-select formControlName="wallets" multiple>
      <mat-option *ngFor="let wallet of wallets$ | async" [value]="wallet.id">
        {{ wallet.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill" class="filters_select">
    <mat-label>categories</mat-label>
    <mat-select formControlName="categories" multiple>
      <mat-option
        *ngFor="let category of categories$ | async"
        [value]="category">
        {{ category }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill" class="filters_input">
    <mat-label>Search by comment</mat-label>
    <input matInput formControlName="comment" />
    <button mat-icon-button matSuffix>
      <mat-icon>search</mat-icon>
    </button>
  </mat-form-field>
</div>

<div class="day" *ngFor="let dayOperations of operations$ | async">
  <mat-divider></mat-divider>
  <p class="day_date">📅 {{ dayOperations.date | date : 'MM/dd/yyyy' }}</p>
  <app-card
    *ngFor="let operation of dayOperations.operations"
    [id]="operation.id"
    (edit)="editOperationHandler($event)"
    (delete)="deleteOperationHandler($event)">
    <div class="day_operation">
      <div>
        <p class="day_operation-bold">{{ operation.category.name }}</p>
        <p *ngIf="operation.comment">💬{{ operation.comment }}</p>
      </div>
      <div>
        <p class="day_operation-bold">
          💰{{ operation.sum }}{{ operation.wallet.currency }}
        </p>
        <p disabled style="font-size: 0.9rem; text-align: end">
          {{ operation.wallet.name }}
        </p>
      </div>
    </div>
  </app-card>
</div>
