@import "src/variables";

:host {
  width: 100%;

  .menu {
    display: flex;
    justify-content: space-between;

    button {
      color: $button-bg-color;
    }
  }

  .filters {
    display: flex;
    flex-wrap: wrap;
    gap: 2%;

    mat-form-field {
      margin-bottom: -1.25em;
    }

    &_select {
      width: 49%;
    }

    &_input {
      margin-top: 2%;
      width: 100%;
    }
  }

  .day-card {
    padding: 5px 10px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: $bg-color;
    color: $text-color;

    &_date {
      font-weight: 600;
      text-align: center;
    }

    &_operation {
      padding: 5px 10px;
      display: flex;
      flex-direction: column;
      background-color: $secondary-bg-color;
      color: $text-color;
      border-radius: 5px;

      &-title {
        display: flex;
        justify-content: space-between;
        font-size: 1.1rem;
        font-weight: 500;
      }
    }
  }
}
