@import "src/variables";

:host {
  .menu {
    display: flex;
    justify-content: flex-end;

    button {
      color: $button-bg-color;
    }
  }

  .card_content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 1.3rem;
  }
}
