<div class="menu">
  <button mat-icon-button (click)="addCategoryHandler()">
    <mat-icon>add</mat-icon>
  </button>
</div>

<div *ngrxLet="categories$ as categories">
  <div>
    <p>EXPENSES</p>
    <app-card
      *ngFor="let category of categories.expense"
      [id]="category.id"
      (edit)="editCategoryHandler($event)"
      (delete)="deleteCategoryHandler($event)">
      {{ category.name }}
    </app-card>
  </div>

  <div>
    <p>INCOMES</p>
    <app-card
      *ngFor="let category of categories.income"
      [id]="category.id"
      (edit)="editCategoryHandler($event)"
      (delete)="deleteCategoryHandler($event)">
      {{ category.name }}
    </app-card>
  </div>
</div>
