@import "src/variables";

:host {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;


  .card {
    background-color: $bg-color;

    &_content {
      width: 100%;
      display: flex;
      justify-content: space-between;
      font-size: 1.3rem;
    }
  }
}
